---
import SettingsNav from "@components/SettingsNav.astro";
import type { SettingsProps as Props } from "@utils/types.ts";

const { active, title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.png" />
        <title>Settings - Radius</title>
        <link rel="stylesheet" href="/src/styles/global.css" />
    </head>
    <body class="h-full w-full bg-(--background) font-inter">
        <div class="h-full w-full flex bg-(--background) text-(--foreground)">
            <div class="w-1/4 bg-(--background) flex">
                <SettingsNav active={active} title={title} />
            </div>
            <div class="h-full flex-grow px-12 py-8 flex flex-col overflow-auto">
                <h1 class="text-4xl font-semibold">{title}</h1>
                <div class="border-b border-(--border) w-full mb-4"></div>
                <slot />
            </div>
        </div>
    </body>
</html>
